{% extends 'journaux_apprentissage/base.html' %}
{% load bootstrap4 %}
{% block page_header %}
<h4>
            <a href="{% url 'journaux_apprentissage:topic' topic.id %}"> {{ topic }}</a>
</h4>
{% endblock page_header %}
{% block content %}
    <form method="post" action="{% url 'journaux_apprentissage:edit_entry' entry.id %}" class="form">
    {% csrf_token %}
    {% bootstrap_form form %}
    {% buttons %}
    <button name = "submit" class="btn btn-primary">Enregister les modifications</button>
    {% endbuttons %}
</form>

{% endblock content %}