{% extends "journaux_apprentissage/base.html" %}
{% block page_header %}
<h1>Sujets</h1>
{% endblock page_header %}
{% block content %}
    <h5><a href="{% url 'journaux_apprentissage:new_topic'%}">Ajouter un nouveau sujet</a></h5>
<ul>
    {% for topic in topics %}
        <div class="card mb-3">
           <div class="card-body"> 
                <a href="{% url 'journaux_apprentissage:topic' topic.id %}">{{ topic }}</a>
            </div>
        </div>
        {% empty %}
            <p>Aucun sujet n'a encore ete ajoute</p>
    {% endfor %}
</ul>
{% endblock content %}
