{% extends "journaux_apprentissage/base.html" %}
{% load bootstrap4 %}

{% block page_header %}
<h2>Connectez-vous a votre compte</h2>
{% endblock page_header %}
{% block content %}

<form method="post" action="{% url 'utilisateurs:login' %}" class="form">
    {% csrf_token %}
    {% bootstrap_form form %}
    {% buttons %}
    <button name = "submit" class="btn btn-primary">Se connecter</button>
    {% endbuttons %}
    <input type = "hidden" name = "next"
           value = "{% url 'journaux_apprentissage:topics' %}" />

</form>
{% endblock content %}